/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 0;
    padding-bottom: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 0;
    padding-right: 0;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}


/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

footer {
    flex: none;
    color: white;
}

.footerUp {
    padding-bottom: 26px;
    background: #008cba;
    border-color: #006687;
}

.footerDown {
    background: #0e0e0e;
}

    .footerDown p {
        margin: 16px 0px;
    }

footer a {
    color: #cecaca;
}

    footer a:hover, footer a:focus {
        color: #fff;
    }

footer h4 {
    margin-top: 32px;
}

.latestPosts li:not(:last-child) {
    border-bottom: 1px dotted #fff;
    padding-bottom: 5px;
    margin-bottom: 5px;
}




/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}
